header{
    background-color: #CFCFCF;
    padding: 0px;
    height: 10%;
}

body{
    margin: 0px;
    background-color: #ececec;
}

h1{
    text-align: center;
    color: #BB3030;
    margin-top: -80px;
}

h2{
    margin-top: -35px;
    position: absolute;
    left: 94%;
    color: #BB3030;
}

h3{
    text-align: center;
    color: #BB3030;
    font-size: 20px;
    font-style: italic;

}

input{
    text-align: center;
    margin-top: -35px;
    border-radius: 20px;
    position: absolute;
    left: 75%;
    height: 25px;
    width: 200px;
    border: 2px solid #BB3030;
    
}

.login{
    position: absolute;
    left: 90%;
    margin-top: -50px;
}

.itens{
    height: 90%;
    width: 20%;
    border: 3px solid #CFCFCF;
}

h4{
    color: #BB3030;
    font-style: italic;
    margin-top: -5px;
    margin-left: 35px;
    font-size: 18px;
}

.seta{
    margin-top: 23px;
    margin-left: 35px;
}

div{
    border-radius: 20px;
    height: 600px;
    width: 250px;
    background-color: #CFCFCF;
}

.segunda{
    margin-left: 240px;
    margin-top: 105px;
}

.terça{
    margin-left: 550px;
    margin-top: -616px;
}

.quarta{
    margin-left: 850px;
    margin-top: -617px;
}

.quinta{
    margin-left: 1150px;
    margin-top: -618px;
}

.sexta{
    margin-left: 1450px;
    margin-top: -619px;
}
