header{
    background-color: #CFCFCF;
    padding: 0px;
    height: 7%;
}

body{
    margin: 0px;
}

h1{
    text-align: center;
    margin-top: -50px;
    color: #BB3030;
}

h2{
    margin-top: -55px;
    position: absolute;
    left: 95%;
    color: #BB3030;
}

h3{
    text-align: center;
    margin-top: -20px;
    color: #BB3030;
}

input{
    text-align: center;
    margin-top: -60px;
    border-radius: 20px;
    position: absolute;
    left: 80%;
    height: 25px;
    width: 200px;
    border: 2px solid #BB3030;
    
}

.login{
    position: absolute;
    left: 92%;
    margin-top: -70px;
}

